/* -------dark mode---------------- */
.mode {
  background-color: black;
  color: white;
}
.manna_left .line,
.netflix_left .line,
.jobly_left .line{
  width: 4px;
  height: 450px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: black;
}
.color{
  color:white;
}
.aTag {
  text-decoration: none;
  color: white;
}
.netflix_left .iconBk,.jobly_left .iconBk{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #f2f2f2;
}
.iconWh{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: black;
}

 .darkMode {
  color: white;
}


/* ------------------------------ */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding: 1rem;
}
.navb_right span {
  margin-right: 15px;
}

/* home */
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
.home__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid white;
}
.home__description {
  font-style: normal;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
}
.home h2 {
  font-style: normal;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 590;
  font-size: 40px;
  line-height: 48px;
}
.home ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.home ul li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  font-size: 13px;
  background-color: #f2f2f2;
  color: black;
  width: 100px;
  height: 30px;
  border-radius: 100px;
}
.skill_icon {
  width: 14.19px;
  height: 16px;
}

a{
  text-decoration: none;
  color: black;
}

/* project */
.project {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.manna_left,
.netflix_left,
.jobly_left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project_manna,
.project_netflix,
.project_jobly {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.manna_left span,
.netflix_left span,
.jobly_left span{
  width: 4px;
  height: 450px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  /* border:1px solid #F2F2F2; */
  background-color: #f2f2f2;
}

.project_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #f2f2f2;
}
.manna_right,
.netflix_right,
.jobly_right {
  display: flex;
  flex-direction: column;

  width: 80%;

  margin-left: 2rem;
}
.manna_right span,
.netflix_right span,
.jobly_right span {
  font-size: 16px;
  font-weight: 200;
}
.period {
  color: lightgray;
}
.a_tag {
  display: flex;
  flex-direction: row;
}
.a_tag a {
  color: black;
  margin-right: 1rem;
  font-size: 14px;
}
.manna_img,
.netflix_img,
.jobly_img {
  width: 470px;
  height: 300px;
  margin-top: 1rem;
  border-radius: 10px;
}
.project_discription {
  width: 500px;
}
.netflix_icon,.jobly_icon {
  width: 40px;
}
.netflix_left .iconWh,.jobly_left .iconJwh{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: black;
}
.fa-j{
  text-align: center;
  background-color: #ffc300;;
  width:50%;
  height:50%;

  padding-top:15%;
  
}
.jobly_right .tech,.netflix_right .tech,.manna_right .tech{
font-size:12px;
  
}


/* --------footer------------ */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left:1rem;
  padding-right:1rem;
}
.footer-link {
  font-size: 28px;
  margin: 24px 0;
  transition: all 300ms ease;
}

.contact__link i:hover {
  transform: scale(1.1);
  color: #2f4858;
}
i {
  color: black;
}
.linkedin,
.github {
  text-decoration: none;
  color: black;
}

